@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Permanent+Marker&family=Roboto:wght@100;300&family=Suez+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@400;500&family=Irish+Grover&family=Kanit&family=Marcellus&family=Monda:wght@400;700&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600;700&family=Reem+Kufi+Ink&family=Righteous&family=Roboto:wght@100;300;400;700;900&family=Ubuntu&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #002733;
  overflow-x: hidden;
}

.orange {
    color: #FF7A01;
  }
  
  .montserrat {
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  
  .container {
    max-width: 1300px;
    margin: 0px auto 0px auto;
    padding: 0px 40px;
  }
  @media (min-width: 1200px) and (max-width: 1441px) {
    .container {
      max-width: 1250px;
      padding: 0px 36px;
    }
  }
  @media (max-width: 767px) {
    .container {
      padding: 0px 30px;
    }
  }
  @media (max-width: 479px) {
    .container {
      padding: 0px 30px 0px 20px;
    }
  }
  
.skills {
    padding: 80px 0px;
    /* border: 1px solid white; */
  }
  @media (max-width: 700px) {
    .skills {
      padding: 490px 0px;
      /* padding-bottom: 270px; */
      /* margin-top: 700px; */

    }
  }
  .skills .title-skills {
    font-size: 55px;
    color: #fff;
    font-family: 'Poppins', sans-serif;

    font-weight: 700;
    padding-bottom: 50px;
  }
  @media (max-width: 500px) {
    .skills .title-skills {
      font-size: 30px;
    }
  }
  .skills .skills-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
  }
  @media (max-width: 700px) {
    .skills .skills-flex-container {
      gap: 30px;
    }
  }
  .skills .skills-flex-container .box {
    flex: 0 0 15%;
    background: #101010;
    /* 00000000000000000000000000000000000000000000 */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px;
    padding: 25px;
    text-align: center;
    border: 10px solid #474e4f;
    /* 00000000000000000000000000000000000000000000 */
    transition: all 0.3s ease-in;
  }
  .skills .skills-flex-container .box .image {
    transition: all 0.3s ease-in-out 0.1s;
  }
  .skills .skills-flex-container .box .image img {
    max-width: 75px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .skills .skills-flex-container .box .title {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  .skills .skills-flex-container .box:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 30px;
    transform: scale(1.1);
  }
  .skills .skills-flex-container .box:hover .image {
    transform: scale(1.5) translateY(-20px);
  }
  .skills .skills-flex-container .box:hover .image img {
    animation: bouncing 0.5s 0.3s;
  }
  @media (max-width: 1100px) {
    .skills .skills-flex-container .box {
      flex: 0 0 25%;
    }
  }
  @media (max-width: 630px) {
    .skills .skills-flex-container .box {
      flex: 1 0 35%;
      padding: 15px;
    }
    .skills .skills-flex-container .box .image img {
      max-width: 50px;
    }
  }
  
  @keyframes bouncing {
    from, to {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }